*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.nav {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: rgba(31, 75, 18, 0.959);
  box-shadow: 0px 5px 10px 0px #aaa;
}
/* .brand img {
  width: 145px;
  height: 58px;
} */

.brand {
  text-transform: uppercase;
  font-weight: bolder;
font-style: oblique;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav_toggler {
  display: none;
}
.nav_toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav_toggler {
    display: block;
    cursor: pointer;
  }
  .nav_menu {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgba(42, 94, 27, 0.959);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav_active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}


.nav_link img{
  width: 200px;
}